# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties
google-services.json

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws

# User-specific files
.DS_Store
*.log

# Captures (screenshots, videos)
captures/

# NDK / external native builds
.externalNativeBuild/
.cxx/

# Kotlin/Java
out/
